
/* styles for the mobile class */
.mobile {
    display: inline;
}

/* styles for the desktop class */
.desktop {
    display: none;
}

#container
{
    padding-top:300px;
    text-align:center;
}

.videotbl {
    border:2px;
    margin-left:auto;
    margin-right:auto;
}

.introduction-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

    .introduction-section > p,
    .questions-section{
        /* Typography Declarations */
        font-weight: 300;
        letter-spacing: 0.05em;
    }

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

    aside > p {
        margin: .5rem;
    }

p {
    font-family: 'Fira Sans', sans-serif;
}

